@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.header{
    display: flex;
    height:50px;
    justify-content: space-between;
    padding-top: 10px;
}

.logo{
    width:140px;
    text-align: center;
}

#friesta{
    color: #ff4b2b;
  font-family: 'Caveat', cursive;
  font-weight:bold;
  font-size: 42px;
  margin:0 auto;
}

a{
    text-decoration: none;
    color:#ff416c;
}

a:hover{
  color: #2c3e50;
}

#user-link{
    text-decoration: none;
    color:#485460;
}

#user-link:hover{
  color: #2c3e50;
}
.search{
    width:80vh;
    text-align: left;
   
}

.search-input{
    height:32px;
    width:80%;
    border: 1px solid #95a5a6;
    border-radius: 2px;
    padding-left:10px;
    margin-top:10px;

}

button {
    border-radius: 2px;
    border: 1px solid #ff416c;
    background: #ff416c;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: "Nunito+Sans", sans-serif;
    padding: 9px 15px;
    letter-spacing: 1px;
    position: relative;
    top:-1px;
    margin-left: -6px;
    transition: transform 80ms ease-in;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  button.ghost {
    background: transparent;
    border-color: #fff;
  }
.nav-links{
    width:50%;
    
}

.links{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li{
  padding-top:20px;
}

.container{

    height:40vh;
    width:70%;
    margin:50px auto;
    display: flex;
}

.profile-image{
    height:100%;
    width:25%;
}

.info{
    height:100%;
    width:45%;

}

.followarea{
   height:100%;
   width:40%;

}

.profile-div{

    margin:5px;
    height:60%;
    width: 95%;

}

.circle{
    height: 150px;
    width: 150px;
    border: 2px solid #ff4b2b;
    border-radius: 50%;
    margin:0 auto;
   
    padding:2px;
}


.default-image{
    height: 150px;
    width: 150px;
    
}

.edit{

    margin:5px;
    height:15%;
    width: 95%;
    text-align: center;
}

.edit-btn{
width:65%;
margin: 5px;
}


.user-detail{
    height: 97%;
    width: 97%;
    margin:5px;
}

.name{
    font-size: 22px;
    margin:2px;
}


.verified{
    height: 25px;
    width: 25px;
    margin:2px 0px 0px 5px;
}

p{
    font-size: 15px;
    margin:4px 0px 0px 0px;
}
.location-icon{
    height: 13px;
    width: 13px;
    margin-right: 2px;
}


.follow-message{
    height: 40px;
    width:80%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}

.follow{
    margin:4px 0px 0px 0px;
}

.follow-user{
    border-radius: 20px;
}

.unfollow-user{
    border-radius: 20px;
}

.message{
    margin:4px 0px 0px 0px;
}

.message-user{
    border-radius: 20px; 
}

.count{
    height: 60px;
    width:95%;
    margin:10px auto;
    display: flex;
}

.total-post{
    height:50px;
    width:40%;
    margin: 4px 0px 0px 4px;
    text-align: center;
}

.total-follower{
    height:50px;
    width:40%;
    margin: 4px 0px 0px 4px;
    text-align: center;
}

.total-following{
    height:50px;
    width:40%;
    margin: 4px 0px 0px 4px;
    text-align: center;
}

.setting{
    height:20px;
    width:50px;
    margin: 0 auto;
    position: relative;
    top:30px;
}

.setting-btn{
    background: #2c3e50;
    border: none;
}


/*timeline*/

.timeline-posts{
    width:50%;
    margin: 0 auto;
}

.timeline{
    margin-top:30px;
  }
  
  .user-posts{
    margin: 10px 0px 10px 0px;
    border: 1px solid #979a9a;
  }
  
  .username{
  border-bottom: 1px solid #979a9a;
  height:40px;
  display: flex;
  justify-content: flex-start;
  }
  
  .profile-logo{
    height:30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    background: lightgray;
  }
  
  .user_name{
    margin: 5px;
    padding-top: 7px;
    font-size: 15px;
    color: #485460;
  }
  
  .time{
    height: 20px;
    font-size: 9px;
    margin:0px 10px 0px 10px;
  }
  
  
  .posted-area{
    margin:10px 20px 0px 20px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  /* Like And Comment*/
  
  .heart {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
    background-position: left;
    background-repeat:no-repeat;
    background-size:2900%;
    margin:0px -10px 0px 0px; 
  
  }
  
  .heart:hover {
    background-position:right;
  }
  
  .is_animating {
    animation: heart-burst .8s steps(28) 1;
    background-position:right;
  }
  
  @keyframes heart-burst {
    from {background-position:left;}
    to { background-position:right;}
  }
  
  .like-comment{
    display: flex;
  }
  
  .like{
    
    text-align: right;
  }
  
  .like-number{
    padding-top: 15px;
  
  }
  
  .comment{
  
      height: 40px;
      margin: 10px 0px 0px 50px ;
      font-size: 14px;
      color: rgb(216, 173, 1);
      cursor: pointer;
      
  }
  
  .comment-icon {
    height: 15px;
    width: 20px;
    position: relative;
    top: 10px;
  }
  
  .comment-btn{
  margin:10px 0px 0px -5px;
  position: relative;
  top: 6px;
  }
  
  
  
  
  .input-comment{
    height:32px;
    width:70%;
    border: 1px solid #95a5a6;
    border-radius: 2px;
    padding-left:10px;
    margin-top:10px;
  }
  
  
  .display{
    padding:5px ;
  
  }
  
  .posted-comment{
  
    font-size: 13px;
   margin: 10px;
  }
  

  /* Search*/
  
